{% extends "::base.html.twig" %}

{% block breadcrumb %}
    <div class="row ">
        <ol class="breadcrumb">
            <li><a href="{{ path('quickstart_app_homepage') }}">{% trans %}nav.home{% endtrans %}</a></li>
            <li class="active">Overview</li>
        </ol>
    </div>
{% endblock %}

{% block title %}
    {% trans %}home.title{% endtrans %}
{% endblock %}

{% block body %}
    <div class="homepage">
        <div class="row jumbotron">
            <div class="col-md-12">
                <h2>Main title</h2>

                <h3>Subtitle</h3>

                <p>Consectetur adipiscing elit. Nunc eu enim arcu. Suspendisse tristique facilisis elit at
                    dignissim. Proin eu sem non ipsum rutrum</p>
                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-default btn-lg btn-success">Register NOW!</a>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Information 1</div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet. Nunc eu enim arcu. Suspendisse tristique facilisis elit at
                            dignissim.</p>

                        <p>Lorem ipsum dolor sit amet. Nunc eu enim arcu. Suspendisse tristique facilisis elit at
                            dignissim.</p>
                        <p>Lorem ipsum dolor sit amet. </p>

                        <a href="#" class="btn btn-default pull-right">More information</a>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Information 2</div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet. Nunc eu enim arcu. Suspendisse tristique facilisis elit at
                            dignissim.</p>
                        <p>Lorem ipsum dolor sit amet. Nunc eu enim arcu. Suspendisse tristique facilisis elit at
                            dignissim.</p>
                        <p>Lorem ipsum dolor sit amet. </p>

                        <a href="#" class="btn btn-default pull-right">More information</a>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Information 3</div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet. Nunc eu enim arcu. Suspendisse tristique facilisis elit at
                            dignissim.</p>
                        <p>Lorem ipsum dolor sit amet. Nunc eu enim arcu. Suspendisse tristique facilisis elit at
                            dignissim.</p>
                        <p>Lorem ipsum dolor sit amet. </p>

                        <a href="#" class="btn btn-default pull-right">More information</a>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Information 4</div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet. Nunc eu enim arcu. Suspendisse tristique facilisis elit at
                            dignissim.</p>
                        <p>Lorem ipsum dolor sit amet. Nunc eu enim arcu. Suspendisse tristique facilisis elit at
                            dignissim.</p>
                        <p>Lorem ipsum dolor sit amet. </p>

                        <a href="#" class="btn btn-default pull-right">More information</a>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        <div class="clearfix"></div>

        <div class="row">

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Information 5</div>
                    <div class="panel-body">

                        <p>Lorem ipsum dolor sit amet. Nunc eu enim arcu.</p>
                        <p>Lorem ipsum dolor sit amet. Nunc eu enim arcu.</p>
                        <a href="#" class="btn btn-default pull-right">More information</a>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Information 6</div>
                    <div class="panel-body">

                        <p>Lorem ipsum dolor sit amet. Nunc eu enim arcu.</p>
                        <p>Lorem ipsum dolor sit amet. Nunc eu enim arcu.</p>
                        <a href="#" class="btn btn-default pull-right">More information</a>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Information 7</div>
                    <div class="panel-body">

                        <p>Lorem ipsum dolor sit amet. Nunc eu enim arcu.</p>
                        <p>Lorem ipsum dolor sit amet. Nunc eu enim arcu.</p>
                        <a href="#" class="btn btn-default pull-right">More information</a>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="row">

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Information 8</div>
                    <div class="panel-body">

                        <p>Lorem ipsum dolor sit amet. Nunc eu enim arcu.</p>
                        <p>Lorem ipsum dolor sit amet. Nunc eu enim arcu.</p>
                        <a href="#" class="btn btn-default pull-right">More information</a>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Information 9</div>
                    <div class="panel-body">

                        <p>Lorem ipsum dolor sit amet. Nunc eu enim arcu.</p>
                        <p>Lorem ipsum dolor sit amet. Nunc eu enim arcu.</p>
                        <a href="#" class="btn btn-default pull-right">More information</a>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Information 10</div>
                    <div class="panel-body">

                        <p>Lorem ipsum dolor sit amet. Nunc eu enim arcu.</p>
                        <p>Lorem ipsum dolor sit amet. Nunc eu enim arcu.</p>
                        <a href="#" class="btn btn-default pull-right">More information</a>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
